div{
  height: 200px;
  width: 500px;
  background-color: pink;
  /* border-width: 5px;
  border-style: solid;
  border-color: red; */
  border: 5px solid red;
  border-left: 5px dashed red;
  border-radius: 10%;
  padding-top: 20px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  margin-bottom: 25px;
  margin: 20px

}
h1{
  /* border-width: 20x;
  border-style: dashed;
  border-color: blue;
  width: 80%; */
  border: 2px dashed blue;
  border-radius: 5px;
}

button{
  border: 2px solid black;
  border-radius: 10px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: greenyellow;
}