/* CSS Transition */
div {
  height: 200px;
  width: 200px;
  background-color: rgba(255, 0, 0, 0.3);
  margin: 0 auto;
  margin-top: 10px;
  transition:margin-top 2s ease-in 0.2s;
}
div:hover {
  margin-top: 400px;
  background-color: red;
}