.face {
    width: 400px;
    height: 400px;
    background-color: #ffa511;
    border-radius: 50%;
}

.mouth {
    width: 200px;
    height: 50px;
    background-color: brown;
    border-radius: 0 0 50% 50%;
    position: absolute;
    top: 300px;
    left: 100px;
}

.lefteye, .righteye {
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
}

.lefteye {
    top: 100px;
    left: 75px;
}

.righteye {
    top: 100px;
    left: 225px;
}