#container {
    height: 400px;
    width: 400PX;
    background-color: rgb(255, 255, 255);
    margin: 10px auto;
    border: 5px solid rgb(94, 235, 188);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
}


h1 {
    text-align: center;
}

#container div {
    height: 100px;
    width: 100px;
    background-color: rgb(174, 174, 174);
    color: rgb(0, 0, 0);
    border: 5px solid black;
    border-radius: 10px;
    text-align: center;
    font-size: 2em;
}