#container {
    height: 50px;
    width: 900px;
    background-color: lightpink;
    border: 5px solid aquamarine;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-content: center;

}


h1 {
    text-align: center;
}

#container div {
    height: 50px;
    width: 80px;
    font-size: 24px;
    border-radius: 10px;
    margin-left: 5px;
    line-height: 50px;
}