#container {
    height: 300px;
    width: 60%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    /* flex-direction: column; */
    flex-direction: row;
    justify-content: flex-start;
    /* flex-wrap: wrap; */
    /* align-items: baseline; */
    align-content: flex-start;
}

#Org {
    align-self: baseline;
    /* flex-basis: 50px; */
    /* flex-grow: 1; */
    flex: 2 2 100px;
}

#blue {
    /* flex-basis: 400px; */
    /* flex-grow: 2; */
    /* min-width: 500px; */
    /* max-width: 500px; */
    flex-grow: 2;
}

h1 {
    text-align: center;
}

#container div {
    height: 100px;
    width: 50px;
    color: rgb(255, 255, 255);
    text-align: center;
    /* font-size: 1.5em; */
}