.loader {
    border: 16px solid hsl(318, 100%, 90%);
    border-top: 16px solid rgb(255, 0, 119);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg); /* Set rotation to 0 degrees */
    }
    100% {
      transform: rotate(360deg); /* Set rotation to 360 degrees */
    }
  }
  