*{
    font-family: "Courier New";
}
h1,h3{
    color: #b92b27;
}
#login{
    background-color: white;
}
#signup{
    background-color: #b92b27;
    color: white;
}
.upvote{
    background-color: green;
    color: aliceblue;
}

/* descendent selector */
.post a {
    color: purple;
    background-color: yellow ;
}
nav ul li a{
    color: hotpink;
}
p + h3{
    text-decoration: underline;
}
.upvote + button {
    background-color: cornflowerblue;
    color: rgb(255, 255, 255);
}
div > input {
    background-color: rgb(255, 238, 195);
} 
input[type="text"] {
    color: red;
}

input[type="password"] {
    color: green;
}
input[type] {
    background-color: ghostwhite;
}
#myid p {
    color: green;
}
button:hover {
    background-color: black;
    color: white;
}
h3:hover {
    text-decoration: none;
}
button:active {
    background-color: #b92b27;
}
p:active {
    font-weight: bold;
    color: green
}
input[type="radio"]:checked + label {
    color: Green;
    font-weight:bold;
} 
div:nth-of-type(2) {
    background-color: #00ff77;
}
h1::first-letter {
    color: rgb(0, 0, 0);
}
p::first-line {
    font-weight: bold;
    color: black;
}
p::selection {
    background-color: yellow;
    color: black;
}